<body>
    <header>
        <h1>Cinta Coding</h1>
        <app-tabs [authPayload]="authPayload" *ngIf="authPayload.isLogin"></app-tabs>
        <nav>
            <a class="login" *ngIf="!authPayload.isLogin" href="/login">Login</a>
            <p *ngIf="authPayload.isLogin">Welcome <span class="username">{{authPayload.username}}</span></p>
        </nav>
    </header>
    <main>
        <div class="image-container" *ngIf="!authPayload.isLogin">
            <img src="https://rovitpm.com/content/images/size/w2000/2022/01/git-workflow.png" alt="Image">
        </div>
        <app-detail-post [id]="id" *ngIf="authPayload.isLogin"></app-detail-post>
    </main>
</body>
